<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Touch B & Release A Rewind</title>

		<!-- styles -->
		<link rel="stylesheet" href="/lib/reset/reset.min.css">
		<link rel="stylesheet" href="/lib/interaction/main.min.css">

	</head>
	<body>

		<div id="loading">
			<div id="type"></div>
			<div id="play-button"></div>
			<div id="log"></div>
		</div>

		<div id="video-container"></div>

		<!-- scripts -->
		<script>var type = 1;</script>
		<script src="/lib/jquery/jquery-3.4.1.min.js"></script>
		<script src="/lib/alumican/lib/alumican.min.js"></script>
		<script src="/lib/interaction/main.min.js"></script>

	</body>
</html>
