Icon
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
*.swp
*~.nib
*.webloc
*.gz
*.zip
*.psd
*.ai
*.sketch

*backup*

### Application ###
*.apk
*.ipa
*.app
*.exe

### FlashBuilder ###
bin/
bin-debug/
bin-release/
bin-release-tmp/
bin-release-temp/

### WordPress ###

### Node.js ###
node_modules/
package-lock.json

### IntelliJ IDEA ###
.idea/
*.iml

### envrc ###
.envrc

### Project ###
# deploy/
log/
doc/
url/
user/

tsconfig.json
