
# ----------
# /user/x/10000001/ as /app/html/xxxxxxxx.html
RewriteEngine on
# RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^user/(.+)$ app/html/touch_b-release_a-rewind.html [L]
RewriteRule ^user/(.+)$ app/html/touch_b-release_a-rewind.html [L]
# RewriteRule ^user/(.+)$ app/html/touch_play-release_stop.html [L]


# ----------
# http -> https
# RewriteEngine on
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# ----------
# add www
# RewriteEngine On
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]


# ----------
# remove www
# RewriteEngine on
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
# RewriteCond %{HTTPS} !on
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# ----------
# /top/ as /
# RewriteEngine on
# RewriteBase /
# RewriteRule ^$ top/ [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.+)$ top/$1 [L]


# ----------
# redirect / -> /ja/
# RewriteEngine on
# RewriteRule ^$ /ja$1 [L,R=301]
